body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body {
    background: #000;
    font-family: "FreeMono", "Monospace", "Courier", monospace;
    color: #555;
}
#info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px;
}
#count {
    color: #aaa;
}
#stage {
    top: 50%;
    border: #333 1px dashed;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 400px;
    margin: -200px 0 0 -300px;
}
