body, html {
	background-color: #111222;
	margin: 0;
	padding: 0;
	cursor: none;
}

#main-canvas, #trail-canvas {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#help-box {
	text-align: left;
	color: #aaa;
	font-family: "Droid Sans", "DejaVu Sans", "Segoe UI", "Tahoma", sans-serif;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 8px;
	font-size: 12px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.enabled {
	color: #964;
}