* {
  margin: 0;
  padding: 0;
}
html, body, .wrapper {
  height: 100%;
}
body {
  background: #222;
  color: #aaa;
  font-family: sans-serif;
  font-size: 14px;
}
li {
  margin-left: 1em;
}
.label {
  clear: left;
  float: left;
}
.label-v {
  padding-left: 4px;
  float: left;
}
#c-info .label, #c-info .label-v {
  min-width: 80px;
}
.clear {
  clear: both;
}
.status {
  border-top: #333 1px solid;
  margin-top: .5em;
  padding-top: .5em;
  width: 100%;
  font-size: 12px;
}
.container {
  display: flex;
  width: 100%;
}
.footer {
  flex: 2;
  display: flex;
  min-height: 100px;
}
#stage {
  border: #333 1px solid;
  background: #111;
  margin: 0 auto;
  display: block;
}
#controls, #p-info, #c-info, #all-c-info {
  padding: .5em;
}
#speed-slider {
  width: 74%;
}
#info {
  border-top: #444 1px solid;
  margin-top: .5em;
  padding-top: .5em;
}
#controls, #all-c-info, .info {
  margin-bottom: .5em;
}
#all-c-info {
  font-size: 11px;
}
#log {
  margin: 0 .5em;
  background: #060606;
  color: #999;
  border: #333 1px solid;
  overflow: scroll;
  font-size: 12px;
  font-family: monospace;
  height: 95%;
  width: 100%;
}
.tnode {
  margin-left: 8px;
  border-left: #333 1px dashed;
  padding-left: 8px;
  font-family: monospace;
  font-size: 12px;
}
a:link, a:visited {
  color: #7cc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h2 {
  border-bottom: #444 1px solid;
  font-size: 16px;
  margin-bottom: .5em;
}
.v {
  display: flex;
  flex-direction: column;
}
.h {
  flex: 1 1 33%;
  background: #1a1a1a;
  border: #333 1px solid;
  overflow: scroll;
}
.l, .r {
  flex: 1 6 25%;
  overflow: scroll;
}
.c {
  flex: 3 1 50%;
  overflow: scroll;
}
.c, .l, .r {
	padding: .5em;
}


/* slider */
input[type=range] {
  -webkit-appearance: none;
  margin: 0px 0;
  vertical-align: middle;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #3e3e3e;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  height: 16px;
  width: 16px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #414141;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #3e3e3e;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  height: 16px;
  width: 16px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #3b3b3b;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: #3e3e3e;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  width: 16px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
  height: 16px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3e3e3e;
}
input[type=range]:focus::-ms-fill-upper {
  background: #414141;
}
